/* APARTADO PARA INDEX.HTML */
.main{
    background-color: #ffba93;
    height: auto;

}

/* ------------------------------------------ */
/* Opciones div menu */
    .menu{
        background-color: #ff8e71;
        height: 100px;

        display: flex;
        justify-content: center;
        border-bottom: 2px solid black;
    }



    /* Distribucion del menu */
        .menu a{
            padding-left: 300px;
        }

    /* Inicio */
        .menu a{
            align-content: center;
            padding-right: 50px;

        }

    /* Imagenes del menu */
        .menu img{
            height: 100px;
            width: 200px;
        }

        /* Rotar horizontalmente la imagen */
        .imagenM1{
            transform: scaleX(-1);
        }

    /* Opciones botones del menu */
        
        /* Altura y ancho de los botones */
        .desple{
            height: 100px;
            width: 200px;
        }

        /* Opciones del la caja del boton */
        .desple{
            background-color: #ff6d49;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Ocultar los links del boton */
        .desple-cont{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px #583d72;
            z-index: 1;
        }

        /* Mostrar lso links al pasar por encima */
        .desplegable:hover .desple-cont{
            display: block;
        }

        /* Links dentro del boton */
        .desple-cont a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Cambiar color del boton al desplegare los links */
        .desplegable:hover .desple {
            background-color: #ff5c33;
        }





/* Opciones div cuerpo */

    /* Opciones cuerpo */
    .cuerpo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 150px;


    }

    iframe{
        padding-left: 500px;
        padding-bottom: 50px;
    }

    /* Lista contacto */
    .cont p, .cont li{
        font-size: 40px;
    }


    /* Opciones de las opciones */
    .noticias div{
        float: left;
        padding-left: 70px;
        padding-top: 40px;
        padding-right: 70px;
        border: 5px solid aliceblue;
        align-content: center;
        background-color: aliceblue;
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 70px;
        text-align: center;

        }

    /* Opciones imagenes noticias */
    .noticias img{
        height: 90px;
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }


/* Opciones Footer */
    .footer {
        bottom: 0;
        min-height: 200px;
        background-color: #583d72;
        text-align: center;
    }

    /* Estilo del script del diaactual */
    #fechahoy{
        font-size: 1.5em;
        color: beige;
        margin: 12px;
        padding-left: 200px;
    }

    /* Opciones de las listas del footer */
    .footer div{
        float: left;
        padding-right: 200px;
    }

    .info{
        list-style: none;
    }

    .footer span{
        font-size: 1.8em;
        color: rgb(220, 20, 20);
        font-weight: bold;
    }

    li a{
        color: rgb(255, 237, 177);
    }
    

    /* ------------------------------------------ */
    /* Tabla */

        h1{
            padding-right: 40px;
            text-decoration: underline;
            padding-left: 20px;

        }

        table{
            text-align: center;
            width: 600px;
            height: 200px;
            font-size: 1.5em;
            background-color: #ff8e71;
        }

        #blink div{
            display: block;
        }

        .prro{
            float: left;
            margin-right: 100px;
        }

        .gto{
            float: left;
            margin-bottom: 50px;
        }

        .tablas{
            padding-bottom: 200px;
        }

        .rijof{
            text-align: center;
        }

        /* -------------------------------------------------- */
        /* Galeria de Imagenes */
        .zoom {
            transition: transform .2s; 
        }
         
        .zoom:hover {
            transform: scale(1.5); 
        }

